# Created by .ignore support plugin (hsz.mobi)
.idea/
bigDataImport.exe
static/css/images/tools/
static/images/tools/tool-sprites.png
conf/elasticSearch
conf/elasticSearch/*
main.exe
bigDataImport.tar.gz

