# Created by .ignore support plugin (hsz.mobi)
.idea/
bigDataImport.exe
static/css/images/tools/
static/css/querybuilder/bootstrap-datepicker3.css
static/images/tools/tool-sprites.png
static/js/querybuilder/bootstrap-datepicker.js
static/tmpFile/*
conf/elasticSearch

